@import 'https://fonts.googleapis.com/css?family=Lato';
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
img.logoNav{
  max-width: 10px:
}
.ion-navicon-round{
  font-size: 2em;
  color: #fff;
  margin: 0.5em;
}

.main-nav1 {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.main-nav1 a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 1.5em;
}
.main-nav1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;

}
.main-nav1 img{
  display: flex;
}
.main-nav1 .searchbar{
  display: flex;
}
.main-nav1 button {
  background-color: #25b331;
  color: #fff;
  padding: 1em;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}
.main-nav1 a:hover{
  color: #2196f3;
  border-bottom: 2px solid #2196f3;
}
.main-nav a:hover {
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
}
.social-logos img {
  /*HOME*/
  width: 20%;
}
.footer-nav li{
  list-style-type: none;
}
.home{
    margin: 0;
    font-size: 10px;
    font-family: sans-serif;
    background-color: #d1d8d0;
}
.home .contenedor {

    margin: auto;
}
.home li{
  list-style-type: none;
}
.home a {
  text-decoration: none;
  color: #000;
}
.home ul {
    padding: 0;
    text-align: center;
    float: right;
}
.home header {
  /*HOME*/
    background-color: #fff;
    margin-bottom: 10px;
}

  .home .logo img {
    /*HOME*/
      width: 100%;
  }
  .home .logo {
    /*HOME*/
      margin: auto;
      max-width: 300px;
      width: 100%;
      border-bottom: 1px solid #607d8b;
  }
.home .menus {
  /*HOME*/
    overflow: hidden;
    text-align: center;
}
.home label {
  /*LOGIN*/
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 10px;
  font-size: 1.2em;
}
.home input {
  padding: 3px;
  margin: 5px;

}
.home .second-nav button{
  border: none;
  background-color: #2196f3;
  text-transform: uppercase;
  color: #FFF;
  padding: 5px;
  margin: auto 3px;
  border-radius: 5px;
}
    .home nav .main-nav {
      /*HOME*/
      overflow: hidden;
    }
    .home .ion-navicon-round{
      color: #5d666b;
    }
    .home .main-nav {
      /*HOME*/
        text-decoration: none;
        color: #000;
    }
      .home .main-nav a:hover {
        /*HOME*/
        color: #2196f3;
        border-bottom: 2px solid #2196f3;
      }
      .home .nav-resp {
        /*HOME*/
        display: inline-block;
        float: none;
      }
        .home .nav-resp li {
          /*HOME*/
          margin: 4px;
        }
          .home .nav-resp li a {
            /*HOME*/
              text-decoration: none;
              color: #000;
              font-size: 1.5em;
          }
            .home .sbutton {
              /*HOME*/
                background-color: #25b331;
                color: #fff;
                padding: 0.5em;
                border: none;
                text-transform: uppercase;
                border-radius: 5px;

            }
.home .banner img {
  /*HOME*/
    width: 100%;
}
.home .categorias article {
  /*HOME*/
    width: 100%;
    position: relative;
}
  .home .him, .her, .kids {
    /*HOME*/
      box-shadow: 0 0 5px #878e92;
      margin: 5px;
      margin: 1.166666666%;
      width: 97%;
  }
    .home .textocate {
      /*HOME*/
      margin: 10px;
      position: absolute;
      width: 50%;
      top: 0;
    }
      .home .him h2, .home .her h2, .home .kids h2 {
        /*HOME*/
          font-size: 3em;
      }
      .home p {
        /*HOME*/
          display: none;
      }
    .home .him img, .home .her img, .home .kids img {
      /*HOME*/
        width: 100%;
    }
    .home .categorias button {
      /*HOME*/
        background-color: #4caf50;
        color: #fff;
        border-radius: 5px;
        border: none;
        padding: 10px;
        padding: 10px;
    }
.home .banner2 img {
  /*HOME*/
  width: 100%;
}
.main-footer {
  /*HOME*/
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}
.main-footer a:hover {
    /*HOME*/
      color: #2196f3;
      border-bottom: 2px solid #2196f3;
  }

.fake-bg{
  /*LOGIN*/
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
}
.registro{
  margin: auto;
  font-size: 10px;
  background-image: url(../imgs/mesa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.registro .container {
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    margin: 0;
}
.registro h1 {
    color: #fff;
    margin-top: 20px;
}
.registro fieldset {
    border: none;
    margin: auto;
    font-size: 1.5em;
}
.registro legend {
    margin: auto;
}
.registro div{
  margin: 20px;
}
.registro .datos {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    padding: 10px;
}
.registro label {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff;
    font-weight: bold;
    margin: 20px 10px;
}
.registro input {
  margin: 1em;
    padding: 10px;
    bottom: 10px;
}
.registro .botones button {
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    background-color: #22b3a5;
    color: #fff;
    text-decoration: none;
    border: none;
}
.registro .login {
    margin-top: 15px;
    color: #fff;
}


.preguntas1{
    font-size: 10px;
    background-image: url(../imgs/mesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.preguntas1 .container {
  text-align: center;
}
.preguntas1 ul {
    padding: 0;
    text-align: center;
}
  .pregunta {
    background-color: #57a3c5;
    list-style-type: none;
    margin: 0;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 10px 10px 0 0;
  }
  .respuesta {
      background-color: #fff;
      list-style-type: none;
      margin: 0;
      font-size: 2em;
      padding: 0.5em;
      border-radius: 0 0 10px 10px;
  }
  .preguntas1 h2 {
      font-size: 2em;
      color: #fff;
  }
  .registro .fake-bg{
    display: none;
  }
@media (min-width: 400px) {
    .home .her, .home .him, .home .kids {
      /*HOME*/
        width: 70%;
        margin: auto;
    }
}
@media (min-width: 500px) {

    .home .her, .home .him, .home .kids {
      /*HOME*/
        margin: 1.16666% auto;
        width: 45%;
    }
    .home .him, .home .her {
      /*HOME*/
        width: 45%;
        float: left;
        margin: 2.16666%
    }
    .home .herhim {
      /*HOME*/
        margin: auto;
        width: 100%;
    }
    .home .kids {
      /*HOME*/
        width: 45%;
        clear: both;
    }
    .contenido {
        width: 47%;
        float: left;
        height: 150px;
        margin: 1.2%;
    }
}
@media (min-width: 600px){
  .footer-nav ul {
    /*HOOME*/
      text-align: left;
      float: left;
  }
  .social-logos img {
    /*HOME*/
      width: 15%;
  }
  .main-nav1 li {
      margin: 0 0.83%;
  }
  .main-nav1 a {
      padding: 1em 0;
      font-size: 1.2em;
      color: #000;
  }
  .home p {
    /*HOME*/
      display: inline-block;
      font-size: 1.5em;
  }
  .registro .datos {
      text-align: center;
      padding: 27px;
  }
  .registro .botones {
      text-align: center;
      margin-top: 15px;
  }
  .contenido {
      width: 30%;
      font-size: 0.80em;
  }
span{
  display: block;
}

}
@media (min-width: 850px){

  span{
    display: none;
  }
  .main-nav1 .searchbar {
      /*float: right;*/
  }
  nav .main-nav1 {
      margin: 0;
      text-align: center;
  }
  .main-nav1 {
      display: inline-block;
      width: 100%;
      font-size: 1.5em;
      text-align: center;
  }
  .main-nav1 .contenedor{
    max-width: 850px;
    text-align: center;
    margin: auto;
  }
  .main-nav1 img{
    float: left;
  }
  .main-nav1 ul{
    float: left;
  }
  .main-nav1 .searchbar{
    float: left;
    margin: 0;
  }

  .main-nav1 li {
      float: left;
      margin: 0.5em;
      display: inline-block;
  }
  .main-nav1 li a {
    display: inline-block;
      text-decoration: none;
      color: #000;
      vertical-align: middle;
  }
  .main-nav1 {
      font-size: 1.5em;
      border-top: 1px solid #c1bcbc;
      text-align: center;
  }
  .main-nav1 ul {
      overflow: hidden;
      width: 50%;
      margin: auto;
      vertical-align: middle;
  }
  .home header {
    /*HOME*/
      overflow: hidden;
      border: 2px solid #c4cac4;
      background-color: #fff;
      margin: 20px auto;
  }
  .home ul {
    /*HOME*/
      margin: 0;
  }
    .home .header {
      /*HOME*/
        max-width: 960px;
        margin: auto;
    }
      .home .logo {
        /*HOME*/
          max-width: 1200px;
          border-bottom: none;
      }
        .home .logo img {
          /*HOME*/
            margin-top: 45px;
            width: 30%;
            float: left;
        }
  .home .menus {
    /*HOME*/
      float: left;
      width: 70%;
  }
    .home .second-nav, .home .main-nav {
      /*HOME*/
        display: block;
    }
    .home .second-nav {
      /*HOME*/
        float: right;
        width: 100%;
        text-align: right;
        padding: 0;
        margin-top: 0;
        margin-top: 10px;
        padding: 2em;
        color: #c1bcbc;
        border-bottom: 1px solid #9e9e9e;
    }

    .home .usuario1{
      float: left;
    }
    .home .contrasena1{
      float: left;
    }
    .home .second-nav button{
      margin-top: 5px;
    }
    .home .second-nav{
      float: right;
    }
      .home .main-nav {
        /*HOME*/
          display: inline-block;
          width: 100%;
          padding: 1em;
          font-size: 1.5em;
          border-top: 1px solid #c1bcbc;
      }
        .home .main-nav ul {
          /*HOME*/
          float: right;
        }
          .home .main-nav li {
            /*HOME*/
              float: left;
              margin: 10px;
          }
            .home .main-nav li a {
              /*HOME*/
                text-decoration: none;
                color: #000;
            }
              .home .nav-resp li a {
                /*HOME*/
                  font-size: 1em;
              }
  .home .banner {
    /*HOME*/
      margin: 15px auto;
      max-width: 960px;
      margin: auto;
  }
  .home .categorias {
    /*HOME*/
      max-width: 960px;
      margin: auto;
      overflow: hidden;
      background-color:rgba(255, 255, 255, 0.45);
      margin-top: 10px;
  }

    .home .categorias article {
      /*HOME*/
        float: left;
        width: 31%;
        position: relative;
        margin: 1.166666%;
    }
      .home .himher {
        /*HOME*/
          margin: 0;
          display: inline;
          width: 35%;
      }
        .home .him, .home .her, .home .kids {
            width: 97%;
        }
          .home .textocate {
            /*HOME*/
              margin: 10px;
              position: absolute;
              width: 50%;
              top: 0;
          }
          .home p {
            /*HOME*/
              display: inline-block;
              font-size: 1em;
          }
          .home .him img, .home .her img, .home .kids img {
            /*HOME*/
              width: 100%;
              box-shadow: 2px 2px 2px #607d8b;
          }
        .home .kids {
          /*HOME*/
            clear: none;
        }
  .home .banner2 {
    /*HOME*/
      margin: 15px auto;
      max-width: 960px;
  }
  .main-footer {
      background-color: #fff;
      width: 100%;
      overflow: hidden;
  }
    .footer-contain {
      /*HOME*/
        max-width: 960px;
        margin: auto;
    }
      .footer-nav {
        /*HOME*/
          float: left;
          width: 70%;
      }
        .footer-nav a {
          /*HOME*/
            text-decoration: none;
            background-color: #fff;
            color: #2b2a2a;
            font-size: 1.5em;
            padding: 0.5em;
            display: block;
            border-bottom: solid 1px white;
        }
      .social-logos {
        /*HOME*/
          float: left;
          width: 30%;
      }
        .social-logos img {
          /*HOME*/
            width: 40%;
        }
.registro .datos {
    width: 50%;
    margin: auto;
}
.respuesta{
  display: none;
}
  .contenido {
      width: 22%;
      margin:
  }
  .preguntas1 .container {
      max-width: 960px;
      margin: auto;
  }

}
@media (min-width: 1100px){
  .primeraColumna{
    float: left;
  }
  .segundaColumna{
    float: right;
  }
  .fechasDeNacimiento{
    clear: both;
  }
}
